#input{
    width: 500px;
    margin-left: 30%;
    margin-top: 50px
}

.form_button{
    width: 100px;
}

.button_container{
    display:flex;
}

#dropdown1 {
    margin-left: 100px;
}
#dropdown2{
    margin-left: 15%;
}

#dropdown3 {
    margin-left: 30px;
}
#dropdown4{
    margin-left: 15%;
}

#button_holder{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40%;
}
